/XMission.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/XMission.xcworkspace/xcuserdata/natallia.xcuserdatad/UserInterfaceState.xcuserstate
/XMission.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/XMission.xcodeproj/project.xcworkspace/xcuserdata/natallia.xcuserdatad/IDEFindNavigatorScopes.plist
/XMission.xcodeproj/project.xcworkspace/xcuserdata/natallia.xcuserdatad/UserInterfaceState.xcuserstate
/XMission.xcodeproj/xcshareddata/xcschemes/XMission.xcscheme
/XMission.xcodeproj/xcuserdata/natallia.xcuserdatad/xcschemes/xcschememanagement.plist
/Pods
